body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    display: block;
    background: /*#efefef*/
    white;
}

#logoBlock {
    padding: 24px 0;
}

#logo {
    color: white;
    text-decoration: none;
}

#logoDot {
    color: rgb(82, 94, 116);
    font-size: 64px;
    line-height: 0;
}

#menuPanel {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #63b175;
    color: white;
    font-weight: 600;
    font-size: 20px;
    text-align: right;
    overflow-y: auto;
}

#menuContentPanel {
    width: 280px;
}

::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}

::-webkit-scrollbar-track {

    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
}

#menuPanel::-webkit-scrollbar-track {
    background-color: #A9D0B2;
}

::-webkit-scrollbar-thumb {

    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: #525e74;
}

.menuBlock {
    margin: 10px;
}

#logoBlock {
    font-weight: 700;
    font-size: 34px;
}

#accountBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    visibility: hidden;
}

#accountLogout {
    padding: 0 12px;
}

#accountName {
    line-height: 1.5;
    font-weight: 600;
    font-size: 22px;
    color: white;
    text-decoration:none;
}

#accountName:hover {
    text-decoration: underline;
}

#groupBlock {
    visibility: hidden;
}

#groupName {
    font-weight: 400;
    font-size: 22px;
    color: white;
    text-decoration:none;
}

#groupName:hover {
    text-decoration: underline;
}

.menuRegularBlock {
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
    margin: 50px 0 0 0;
}

.menuHeader {
    font-weight: 600;
    margin-bottom: 10px;
}

.menuLink {
    text-decoration: none;
    color: white;
}

.menuLink :hover {
    text-decoration: underline;
}

#mainPanel {
    margin: 0 0 0 300px;
    padding: 40px 0;
    /* костыль. при padding 0 появляется пустое пространство*/
    color: #525e74;
}

#recordsWithDividers {
    width: 600px;
    margin: 0 auto 0 auto;
}

.contentBlock {
    margin: 0 0 8px 0;
    width: 600px;
}

.dayBlock {
    background-color: #525e74;
    color: white;
    display: flex;
    justify-content: space-between;
}

.daySubblock {
    padding: 0 24px;
    font-weight: 600;
    font-size: 20px;

}

.recordBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.recordSubblock {}

.bodyRecordSubblock {
    width: 500px;
}

.recordHr {
    margin: 0;
    background-color: #525e74;
    height: 4px;
    border: 0;
    border-radius: 4px;

}

.recordName {
    color: #63b175;
    font-weight: 600;
    font-size: 20px;
    margin: 16px 0;
}

.recordDetails {
    font-weight: 400;
    font-size: 15px;
    margin: 12px 0;
}

.lessonName {
    text-align: center;
}

.recordHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerItem {
    padding: 0 10px;
}

.eventName {
    text-align: right;
}

.editBtn {
    visibility: hidden;
}

.deleteBtn {
    visibility: hidden;
}

.emptyBlock {
    height: 160px;
    visibility: hidden;
    background-color: black;
}

.placeDetails {
    text-align: right;
}

.detailsBlock {
    margin-left: 10px;
    margin-right: 10px;
}

.detailHeader {
    color: #63b175;
    font-weight: 600;
}

.settingsTable {
    width: 100%;
    color: #525e74;
}

.settingsCell {
    text-align: left;
    padding: 12px 4px;
    width: 50%;
}

.settingsCell input[type=text] {
    width: 100%;

}

.textbox {
    font-family: 'Raleway', sans-serif;
    border: none;
    border-bottom: solid;
    border-bottom-width: 2px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.textboxOnWhite {
    color: #525e74;
    border-bottom-color: #63b175;
}

.textboxOnGreen {}

.bigTableCell {
    text-align: center;
    padding: 12px 4px;
}


.buttonOnWhite {
    height: 32px;
    background-color: #63b175;
    border: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    border-radius: 2px;
}

#loginMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    height: 700px;
    margin: auto;
}

#authPanel {
    display: flex;
    justify-content: center;
}

.authBlock {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#loginBlock {}

#regBlock {
    display: none;
}

#socialBlock {}

.loginTextbox {
    width: 266px;
    margin: 8px 0;
}

.socialButton {
    height: 40px;
    margin: 4px 0;
    text-decoration: none;
    font-size: 13px;
    padding: 0 0 0 32px;
}

#fbButton {
    background-color: #3a5998;
}

#googleButton {
    background-color: #d34836;
}

#vkButton {
    background-color: #4c75a3;
}

#loginHr {
    margin: 32px;
    background-color: #525e74;
    border: 0;
    border-radius: 4px;
    width: 3px;
}

.authButton {
    margin: 20px 0;
}

#loginRegButtons {
    display: flex;
    justify-content: space-between;
}

.activeAuthButton {
    text-decoration: none;
}

.nonActiveAuthButton {
    color: lightgray;
    font-weight: 300;
    text-decoration: none;
}

.nonActiveAuthButton:hover {
    text-decoration: underline;
}

#regBtn {
    float: right;
}

