body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    display: block;
    background: /*#efefef*/
    white;
}

#menuPanel {
    position: fixed;
    width: 300px;
    height: 100%;
    background: #63b175;
    color: white;
    font-weight: 600;
    font-size: 20;
    text-align: right;
    overflow-y: auto;
}

#menuContentPanel {
    width: 280px;
}

::-webkit-scrollbar {
    width: 14px;
    height: 18px;
}

::-webkit-scrollbar-track {

    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
}

#menuPanel::-webkit-scrollbar-track {
    background-color: #A9D0B2;
}

::-webkit-scrollbar-thumb {

    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: #525e74;
}

.menuBlock {
    margin: 10px;
}

#logoBlock {
    font-weight: 700;
    font-size: 34;
}

#accountBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    visibility: hidden;
}

#accountLogout {
    padding: 0 12;
}

#accountName {
    line-height: 1.5;
    font-weight: 600;
    font-size: 22;
}

#groupBlock {
    font-weight: 400;
    font-size: 22;
    visibility: hidden;
}

.menuRegularBlock {
    line-height: 1.5;
    font-weight: 400;
    font-size: 16;
    margin: 50px 0 0 0;
}

.menuHeader {
    font-weight: 600;
    margin-bottom: 10px;
}


#mainPanel {
    margin: 0px 0px 0px 300px;
    padding: 40px 0px;
    /* костыль. при padding 0 появляется пустое пространство*/
    color: #525e74;
}

#recordsWithDividers {
    width: 600px;
    margin: 0px auto 0px auto;
}

.contentBlock {
    margin: 0px 0px 8px 0px;
    width: 600px;
}

.dayBlock {
    background-color: #525e74;
    color: white;
    display: flex;
    justify-content: space-between;
}

.daySubblock {
    padding: 0 24;
    font-weight: 600;
    font-size: 20;

}

.recordBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.recordSubblock {}

.bodyRecordSubblock {
    width: 500px;
}

.recordHr {
    margin: 0;
    background-color: #525e74;
    height: 4px;
    border: 0;
    border-radius: 4px;

}

.recordName {
    color: #63b175;
    font-weight: 600;
    font-size: 20;
    margin: 12px 0;
}

.recordDetails {
    font-weight: 400;
    font-size: 15;
    margin: 12px 0;
}

.lessonName {
    text-align: center;
}

.recordHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerItem {
    padding: 0 10;
}

.eventName {
    text-align: right;
}

.editBtn {
    visibility: hidden;
}

.deleteBtn {
    visibility: hidden;
}

.emptyBlock {
    height: 160px;
    visibility: hidden;
    background-color: black;
}

.placeDetails {
    text-align: right;
}
